.css-bhp9pd-MuiPaper-root-MuiCard-root.task-card, .task-card-add {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)!important;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-content, .task-card-add {
    display: flex;
    flex-direction: column;
    
  }
  
  .css-bhp9pd-MuiPaper-root-MuiCard-root.task-card-add{
    align-items: center;
    background-color: #CED4DA;
  }
